<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd"><suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="D:/Java_Projects/CourseraFramework/src/test/java/com/guru99/Tests/LoginsTests.java">
        <parameter name="username" value="mngr581153"></parameter>

        <parameter name="password" value="ygUberY"></parameter>
        <classes>

            <class name="com.guru99.Tests.LoginsTests"><methods><include name="verifyUserLoginWithCorrectCerdentials"/></methods></class></classes></test></suite>